[Unit]
Description=Prometheus Node Exporter

[Service]
User=prometheus-node-exporter
EnvironmentFile=/etc/default/prometheus-node-exporter
ExecStart=/usr/sbin/node_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
